@font-face {
    font-family: "comfortaabold";
    src: url("comfortaa_bold-webfont.woff2") format("woff2"),
        url("comfortaa_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "comfortaaregular";
    src: url("comfortaa_regular-webfont.woff2") format("woff2"),
        url("comfortaa_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "comfortaathin";
    src: url("comfortaa_thin-webfont.woff2") format("woff2"),
        url("comfortaa_thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
