@import "fonts.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
html {
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "comfortaaregular";
    font-weight: 400;
}

body {
    /* background-image: url("../krystal-ng-PrQqQVPzmlw-unsplash.jpg"); */
    background-repeat: no-repeat;
    /* background-size: auto; */
    background-size: 3200px auto;
    /* opacity: 0.5; */
    background-color: rgb(236, 223, 236);
}
header {
    padding: 1.5rem;

    background-color: #fff;
    margin-bottom: 2rem;
}
header div {
    margin: 0 2rem;
    /* padding: 0 2rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
section {
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
    flex: 1;
    padding: 0 1.5rem;
    /* align-items: center; */
}

section.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* padding: 0 2rem; */
}
section.settings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-template-rows: auto;
    gap: 2rem;
    /* background-color: #fff; */
    /* flex-direction: column;
    max-width: 40%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; */
    /* justify-content: space-between; */
}
.settings form {
    width: 100%;
    /* max-width: 30rem; */
}
.settings img {
    width: 100%;
}

img {
    width: 8rem;
}
h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
}
h3 {
    font-size: 1.875rem;
}
h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

button {
    font-family: inherit;
    color: #fff;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #a04b75;
    border: 1px solid #7e3559;
}
button:hover {
    background-color: #85385e;
    border: 1px solid #5f2341;
    cursor: pointer;
}
button:disabled {
    background-color: #d6a595;
    border: 1px solid #ca9988;
    cursor: not-allowed;
}
hr {
    border: 1px solid #7e3559;
}
/* --- navigation --- */

nav {
    display: flex;
    gap: 2rem;
}
nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.burerMenuIcon {
    width: 35px;
    height: 35px;
    visibility: hidden;
}
.menuClose {
    visibility: hidden;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.navUser,
.navLinks {
    display: flex;
    align-items: center;
}

.navGap {
    gap: 1rem;
}

header section {
    display: flex;
    flex-direction: column;
}

/* --- HABIT --- */
section.habit {
    display: flex;
    flex-direction: column;
}
.habitHead {
    display: flex;
    justify-content: space-between;
}
.habit button {
    margin-top: 2rem;
    align-self: end;
    width: fit-content;
}
.habitOverview {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    gap: 1rem;
    list-style: none;
}
.habitOverview img {
    width: auto;
}
.day {
    position: relative;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    pointer-events: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rempx;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.day.active {
    background-color: rgba(218, 165, 32, 0.301);
    color: goldenrod;
    pointer-events: fill;
    cursor: pointer;
}
.day.checked {
    background-image: url("/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    /* background-size: cover; */
    /* background-color: rgba(49, 172, 172, 0.1); */
    pointer-events: none;
}
.day.missed {
    background-image: url("/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    /* background-size: cover;
    background-color: rgba(220, 20, 60, 0.411); */
    pointer-events: none;
}

.circle {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.shroud {
    position: fixed;
    background-color: rgb(0, 0, 0);
    inset: 0;
    opacity: 0.3;
    transition: opacity 0.3s;
    z-index: 1;
}

section.modal {
    border-radius: 1rem;
    position: relative;
    background-color: #fff;
    z-index: 2;
    padding: 3rem;
    width: fit-content;
    height: fit-content;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal img {
    margin-top: 3rem;
    width: 100%;
}
.modalCloseButton {
    background: transparent;
    border: none;
    color: #2a1a3b;
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    padding: 0.5rem;
    border-radius: 2rem;
    right: 1rem;
    top: 1rem;
}
.modalMotivation {
    text-align: center;
}
.modalMotivation img {
    margin-bottom: 3rem;
}
/* DASHBOARD */
.profile,
.habitboard,
.scoreboard,
.statisticOtherUser {
    width: 30%;
    padding: 1.5rem;
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* PROFILE */
.avatare {
    text-align: center;
    max-width: 100%;
}
.avatare ul {
    margin-bottom: 2rem;
    /* display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    gap: 1rem;
}

.avatareList {
    max-width: 5rem;
    border-radius: 3rem;
    background-color: rgb(236, 223, 236);
    margin-top: 1rem;
}

.avatarPreview {
    max-width: 10rem;
    height: 10rem;
    border: 1px solid #b8a8a4;
    border-radius: 6rem;
    background-color: rgb(236, 223, 236);
}
/* .avatarPreview ul li img {
    margin-top: 0;
} */
.activeAvatar {
    border: 1px solid #a04b75;
}
form.bio {
    /* max-width: 30%; */
    width: 100%;
    padding: 0;
}
.bioText {
    white-space: pre-wrap;
}
.profileInfo img {
    max-width: 3rem;
    max-height: 3rem;
    width: 100%;
    border-radius: 5rem;
    border: 0.1rem solid #fff;
    background-color: rgb(236, 223, 236);
}

.profileInfo {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.profileInfo h4 {
    margin-bottom: 0.25rem;
}
.personalScore {
    margin-bottom: 2rem;
}
.personalScore img {
    width: 3rem;
}
.statistic ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.658);
}
.statistic li {
    margin: 1rem;
}
.statistic img {
    width: 3rem;
    margin-bottom: 0.75rem;
}
.statisticCounter {
    font-size: 1.25rem;
    font-weight: 600;
}
.profileStatistic {
    color: #505050;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
/* OTHER USER */
div.otherUser {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 3rem;
}
.statisticOtherUser img {
    width: 100%;
    opacity: 50%;
}
.otherUser .profile {
    width: 100%;
}
.statisticOtherUser {
    width: 100%;
}
/* HABIT BOARD */
.habitTrack {
    display: flex;
    gap: 0.5rem;
}
.habitboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.habitboard ul {
    list-style: none;
}
.habitboard li {
    display: flex;
    justify-content: space-between;
    border-bottom: rgb(197, 197, 197);
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #000;
}
.habitboard li a,
.scoreList li a {
    color: #000;
    text-decoration: none;
}
div.newHabitArea {
    display: flex;
    justify-content: end;
    align-items: center;
}
p.createHabitCounter {
    margin-right: 0.5rem;
}
button.habitBoardButton {
    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
}
/* SCOREBOARD */
.scoreboard a {
    color: inherit;
    text-decoration: none;
}
.scoreList {
    background-color: #fff;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    margin-bottom: 1rem;
    border-radius: 2rem 0.5rem 0.5rem 2rem;
}
.scoreUser {
    display: flex;
    align-items: center;
}

li.scoreList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img.scoreImg {
    width: 2rem;
    margin-right: 0.5rem;
}
p.place {
    margin-right: 0.5rem;
    font-weight: 600;
}

/* WELCOME  */
section.homepage {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.homepage div {
    width: 50%;
}
.welcome {
    margin: 0 auto;
}
.welcome button {
    margin-bottom: 1rem;
}

div.infoBlock {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 1.5rem;
}
div.infoBlock img {
    width: 50%;
    padding: 4rem;
}
.infoBlock ul {
    padding: 2rem 0;
}
.infoBlock li {
    margin-bottom: 2rem;
}
.infoBlock li:last-child {
    margin-bottom: 0;
}

/* QUOTE */
.quote {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    height: fit-content;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.error {
    color: crimson;
}

/* SETTING */
.settings form {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}
.deleteAccount {
    max-width: 500px;
    padding: 2rem;
}
/* footer */
footer {
    background-color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem;
}
/* PROGRESS BAR */
.CircularProgressbar-path {
    stroke: rgb(20, 148, 131);
}
.CircularProgressbar-trail {
    stroke: gray;
}
.CircularProgressbar-text {
    fill: rgb(1, 4, 10);
    font-size: 1.5rem;
    font-weight: 600;
    dominant-baseline: middle;
    text-anchor: middle;
}
.CircularProgressbar-background {
    fill: green;
}

/* --- FORM --- */

form {
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: #fff;
}
form {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 1rem;
}
form div {
    display: flex;
    flex-direction: column;
}

.formStyle {
    padding: 3rem;
    border-radius: 2rem;
}

form .classic {
    width: 100%;
}
form a,
form a:visited {
    text-decoration: transparent;
    color: inherit;
    text-align: center;
}
form a:hover {
    text-decoration: underline;
}
/* --- INPUT + LABEL --- */

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    /* -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset; */
    transition: background-color 5000s ease-in-out 0s;
}
/* --------------------------------------- */
div.form-input {
    position: relative;
    width: 100%;
}
label {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1rem;
    transition: 0.2s all ease;
}
input {
    width: 100%;
    font-size: inherit;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #2a1a3b;
    margin-bottom: 0.75rem;
    background: transparent;
}

input:focus + label,
input:valid + label {
    top: -0.5rem;
    left: 0;
    font-size: 0.75rem;
}
input:valid + label {
    color: #75ad2c;
}

input:focus,
input:valid {
    outline: none;
}

input:valid {
    border-bottom: 1px solid #75ad2c;
}

input:invalid {
    color: #2a1a3b;
    border-bottom: 1px solid#2a1a3b;
}

input:invalid + label {
    color: #2a1a3b;
}
input:disabled {
    background-color: #d3cfce;
    cursor: not-allowed;
    color: #b8a8a4;
    cursor: not-allowed;
}
/* ------------------------------------------ */

@media screen and (max-width: 992px) {
    .statistic ul {
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
        justify-content: space-between;
    }
}
@media screen and (max-width: 768px) {
    div.otherUser {
        display: grid;
        grid-template-columns: 100%;
        gap: 0;
    }
    .modal {
        /* width: 80%;
        height: 100%;
        top: 60%; */
        /* overflow-y: scroll; */
    }
    .statistic ul {
        grid-template-columns: repeat(4, minmax(5rem, 1fr));
    }
    .profile,
    .habitboard,
    .scoreboard,
    .quote {
        width: 100%;
        /* height: fit-content; */
        padding: 1.5rem;
        border-radius: 1rem;
        /* margin-top: 0;
        margin-bottom: 2rem; */
        margin-bottom: 2rem;
    }
    .homepage {
        flex-wrap: wrap;
    }
    .homepage div {
        width: 100%;
    }
    div.infoBlock {
        flex-direction: column;
    }
    div.infoBlock img {
        width: 100%;
    }

    /* NAVIGATION */
    .menuClose {
        padding: 1rem;
        border: none;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        color: #000;
        background: transparent;
    }
    nav.menu {
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        background-color: #fff;
        padding: 4rem 3rem 3rem 3rem;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 1s;
        z-index: 2;
    }
    nav.active {
        transform: translateX(0);
    }
    .navLogo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burerMenuIcon {
        visibility: visible;
    }
}
@media screen and (max-width: 576px) {
    section.settings {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .statistic ul {
        grid-template-columns: 50% 50%;
    }
    .profile,
    .habitboard,
    .scoreboard,
    .quote {
        width: 100%;
        height: fit-content;
        padding: 1.5rem;
    }
}
