* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(247, 209, 209);
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.dashboard {
    flex-direction: row;
}
form div {
    display: flex;
    flex-direction: column;
}

img {
    width: 8rem;
}
.day {
    width: 10rem;
    height: 10rem;
    background-color: coral;
}
